p {
  margin-bottom: 10px;
  font-family: 'Work Sans', sans-serif;
  color: #bdbdbd;
}

.by-year {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: 33.33vh;
  margin-top: 0vh;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.33);
  -webkit-transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.by-year:hover {
  box-shadow: 0 0 16px 10px hsla(0, 0%, 74%, 0.3);
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  text-decoration: none;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Work Sans', sans-serif;
  color: #ff2782;
  font-size: 3.5vh;
  line-height: 90%;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.01em;
}

.heading-3 {
  margin-top: 0.84vh;
  margin-bottom: 0px;
  color: #fff;
  font-size: 1.54vh;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.005em;
  text-shadow: 0 0 5px #000;
}

.body {
  background-color: #070c0f;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.s1-home {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  margin-top: 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}

.by {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 1.25vh;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.destination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 3.5vh;
  line-height: 90%;
  font-weight: 300;
  text-decoration: none;
}

.credit {
  position: fixed;
  left: auto;
  top: auto;
  right: 2em;
  bottom: 2em;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24em;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: 'Work Sans', sans-serif;
  color: grey;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.025em;
}

.navigation {
  position: absolute;
  top: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 33.33vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
}

.by-destination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: 33.33vh;
  margin-top: 0vh;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
  -webkit-transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.by-destination:hover {
  box-shadow: 0 0 16px 10px hsla(0, 0%, 74%, 0.3);
}

.by-chance {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: 33.33vh;
  margin-top: 0vh;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
  -webkit-transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.by-chance:hover {
  box-shadow: 0 0 16px 10px hsla(0, 0%, 74%, 0.3);
}

.year {
  position: static;
  left: 0%;
  top: 36vh;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 3.5vh;
  line-height: 90%;
  font-weight: 300;
  text-decoration: none;
}

.chance {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 3.5vh;
  line-height: 90%;
  font-weight: 300;
  text-decoration: none;
}

.head {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.s2-year {
  position: absolute;
  top: auto;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 0vh;
  margin: auto 0px 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h3-year {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 3.3vh;
  line-height: 120%;
  font-weight: 300;
  text-decoration: none;
  text-shadow: 0 0 1em rgba(7, 12, 15, 0.3);
}

.year-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  height: 6vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 3vw 0 rgba(0, 0, 0, 0.7);
}

.year-list-list {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-right: 0vw;
  margin-left: 0vw;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.year-list-wrapper {
  position: relative;
  left: auto;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.world {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.lightbox-image {
  z-index: 1;
  width: auto;
  height: auto;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.lightbox-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-list-list {
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: auto;
  height: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 9vw;
  height: 9vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  text-decoration: none;
}

.heading-21 {
  margin: 0px auto;
  font-family: 'Work Sans', sans-serif;
  color: #ff2782;
  font-size: 3.5vw;
  line-height: 90%;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.01em;
}

.heading-31 {
  margin-top: 1.2rem;
  margin-bottom: 0px;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 1.6vw;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.005em;
  text-shadow: 0 0 5px #000;
}

.head2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  margin-top: 3vh;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rich-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  max-width: 910px;
  margin: 2vh 0px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 130%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.01em;
}

.rich-text-block p {
  color: #fff;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2.5vh;
  margin-top: 0.5vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0.5vh;
  padding-bottom: 0.4vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph {
  margin-bottom: 0px;
  font-size: 1.1em;
  line-height: 140%;
}

.div-block-4 {
  position: relative;
  display: none;
  width: auto;
  height: auto;
  max-height: none;
  margin: auto 14vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4.is--visible {
  display: block;
  overflow: hidden;
  height: auto;
  margin: 0px 10vw;
}

.paragraph-2 {
  font-size: 1.1em;
  line-height: 140%;
}

.paragraph-3 {
  font-size: 1.1em;
  line-height: 140%;
}

.div-block-5 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7vw;
  height: 100vh;
  margin-right: auto;
  padding-left: 1.5vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-2 {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #070c0f;
}

.image-4 {
  position: relative;
  z-index: 2;
  opacity: 0.8;
}

.back-arrow {
  width: auto;
  margin-bottom: 0.525em;
  padding-right: 8px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 2.8em;
  line-height: 125%;
  font-weight: 200;
}

.btn-back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.25em;
  line-height: 125%;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.page-transition {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-2 {
  background-color: #070c0f;
}

.type-column-1 {
  padding-right: 20px;
}

.tag-title {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 18px;
  color: #222;
  font-size: 22px;
  line-height: 44px;
  font-weight: 500;
  text-transform: uppercase;
}

.type-column-2 {
  padding-top: 30px;
  padding-left: 20px;
}

.tags-section {
  position: relative;
  display: block;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  border-radius: 4px;
  background-color: transparent;
}

.tag-holder {
  margin-bottom: 10px;
  padding: 10px 10px 20px;
  border-radius: 5px;
  background-color: #fff;
}

.tag-holder:hover {
  box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.07);
}

.tag-divider {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #f3f3f5;
}

.tag-label {
  margin-top: 10px;
  color: #aaa;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.body-3 {
  background-color: #e9e9e9;
}

.fancybox-caption {
  font-family: 'Work Sans', sans-serif;
  color: #e9e9e9;
  font-size: 15px;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.01px;
}

.image-list-wrapper-2 {
  display: block;
}

.image-list-wrapper-3 {
  display: block;
}

.image-list-wrapper-4 {
  display: block;
}

.s3-destination {
  position: fixed;
  left: 0%;
  top: 8vw;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}

.image-list-wrapper-5 {
  display: block;
}

.image-list-wrapper-6 {
  display: block;
}

.image-list-wrapper-7 {
  display: block;
}

.image-list-wrapper-8 {
  display: block;
}

.collection-list-wrapper-9 {
  display: block;
}

.collection-list-wrapper-10 {
  display: block;
}

.collection-list-wrapper-11 {
  display: block;
}

.map-location {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
  margin-top: 21.5vw;
  margin-left: 75.5vw;
  color: #fff;
  text-decoration: none;
}

.map-location.is--hidden {
  display: none;
}

.map-dot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0.9vw;
  height: 2.2vh;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 6px;
  font-family: 'Work Sans', sans-serif;
  color: #ff2782;
  font-size: 2.2vw;
  line-height: 1.4vw;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.01em;
}

.map-locname {
  position: absolute;
  left: 1.5vh;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  width: auto;
  height: 2.2vh;
  opacity: 1;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.75vw;
  line-height: 1.3vw;
  text-align: left;
  letter-spacing: 0.02px;
  white-space: nowrap;
}

.destination-list-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.destination-list {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.destination-item {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: visible;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.location-html-embed {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
}

.image-6 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
  opacity: 0.5;
}

.image-6.is--hidden {
  display: none;
}

.image-7 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 1;
}

.map50 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
  opacity: 0.5;
}

.s4-chance {
  position: fixed;
  left: 0%;
  top: 0vh;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 0vh;
  margin-top: 18vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}

.chance-list-wrapper {
  position: absolute;
  left: auto;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}

.chance-list-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 12vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 3vw 0 rgba(0, 0, 0, 0.7);
  -o-object-fit: cover;
  object-fit: cover;
}

.chance-list-list {
  position: relative;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100%;
  height: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.selected-image-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 16vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-3 {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.collection-list-wrapper-13 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.collection-list-2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.h4-destination {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 1.2vh;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02px;
}

.div-block-7 {
  position: absolute;
  z-index: 3;
  width: auto;
  height: auto;
}

.h3-year-100 {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 3.3vh;
  line-height: 120%;
  font-weight: 300;
  text-decoration: none;
}

.spinner {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: none;
  width: 4vw;
  height: auto;
  max-width: none;
  margin: auto;
  font-size: 24px;
}

.image-8 {
  width: 8%;
  height: auto;
  max-width: none;
  padding-right: 3px;
  padding-left: 3px;
}

.text-block {
  position: relative;
  display: block;
  width: auto;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  letter-spacing: 0.01em;
}

.text-block-2 {
  width: auto;
  letter-spacing: 0.01em;
}

.body-4 {
  background-color: #070c0f;
}

.div-block-8 {
  position: relative;
  top: 0px;
  padding-top: 8vh;
}

.s1-destin {
  position: relative;
  left: 0%;
  top: 0vh;
  right: 0%;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: auto;
  margin-top: 0vh;
  margin-bottom: auto;
  padding-top: 0vh;
  padding-bottom: 3vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}

.link {
  color: grey;
  text-decoration: none;
}

.link:hover {
  color: #ff2782;
}

.div-block-9 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-color: rgba(7, 12, 15, 0.25);
}

.div-block-9:hover {
  background-color: rgba(7, 12, 15, 0);
}

.navigation-mobile {
  position: absolute;
  top: auto;
  display: none;
  width: 100%;
  margin-top: 33.33vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
}

.by-year-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: 33.33vh;
  margin-top: 0vh;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.33);
  -webkit-transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.by-year-m:hover {
  box-shadow: 0 0 16px 10px hsla(0, 0%, 74%, 0.3);
}

.by-destination-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: 33.33vh;
  margin-top: 0vh;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
  -webkit-transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.by-destination-m:hover {
  box-shadow: 0 0 16px 10px hsla(0, 0%, 74%, 0.3);
}

.by-chance-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
  height: 33.33vh;
  margin-top: 0vh;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
  -webkit-transition: box-shadow 250ms ease-in;
  transition: box-shadow 250ms ease-in;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.by-chance-m:hover {
  box-shadow: 0 0 16px 10px hsla(0, 0%, 74%, 0.3);
}

.swipe {
  position: fixed;
  left: auto;
  top: auto;
  right: 2em;
  bottom: 2em;
  z-index: 99;
  display: none;
  width: 24em;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-family: 'Work Sans', sans-serif;
  color: grey;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.025em;
}

.text-block-3 {
  width: auto;
  letter-spacing: 0.01em;
}

.div-block-11 {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 1.5vh 0vw 2.5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.location-html-embed-m {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
}

.image-3 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
  opacity: 1;
}

.image-3.is--hidden {
  display: none;
}

.title-m {
  display: none;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  text-decoration: none;
}

.body-5 {
  background-color: #070c0f;
}

.body-6 {
  background-color: #070c0f;
}

.image {
  z-index: 1;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.s1-regions {
  position: relative;
  left: 0%;
  top: 0vh;
  right: 0%;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100vw;
  height: 70vh;
  margin-top: 0vh;
  margin-bottom: auto;
  padding-top: 0vh;
  padding-bottom: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}

.collection-list-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-22 {
  margin: 0px auto;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 2vw;
  line-height: 90%;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.02em;
}

.div-block-6 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 22vw;
  height: 15vw;
  max-height: none;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6.is--visible {
  display: block;
  overflow: hidden;
  height: auto;
  margin: 0px 10vw;
}

.collection-list-wrapper-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-2 {
  width: 100vw;
  height: 22vh;
}

.collection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link-block-4 {
  margin-top: 8vh;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .by-year:hover {
    box-shadow: none;
  }

  .title {
    display: none;
  }

  .heading-2 {
    font-size: 4.2vh;
  }

  .heading-3 {
    font-size: 2vh;
  }

  .by {
    font-size: 1.8vw;
  }

  .destination {
    font-size: 4.5vw;
  }

  .navigation {
    display: none;
  }

  .by-destination:hover {
    box-shadow: none;
  }

  .by-chance:hover {
    box-shadow: none;
  }

  .year {
    font-size: 4.5vw;
  }

  .chance {
    font-size: 4.5vw;
  }

  .head {
    margin-top: 9%;
  }

  .s2-year {
    position: fixed;
  }

  .year-list-item {
    height: 9vh;
  }

  .year-list-list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .world {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0%;
    z-index: -1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .world.fixed {
    position: fixed;
  }

  .image-list-list {
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .image-list-item {
    width: 18vw;
    height: 13vw;
  }

  .heading-21 {
    font-size: 5.5vw;
  }

  .heading-31 {
    font-size: 2.75vw;
  }

  .rich-text-block {
    width: 80%;
  }

  .div-block-4.is--visible {
    height: auto;
  }

  .btn-back {
    font-size: 1.1em;
  }

  .s3-destination {
    position: absolute;
    top: 0vw;
  }

  .map-dot {
    font-size: 4.2vh;
  }

  .destination-list-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .location-html-embed {
    display: none;
  }

  .image-6 {
    position: relative;
    overflow: scroll;
    width: auto;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-6.is--hidden {
    top: -8vw;
    display: none;
  }

  .image-7 {
    overflow: hidden;
  }

  .s4-chance {
    margin-top: 22vh;
  }

  .selected-image-item {
    height: 10vh;
  }

  .h4-destination {
    font-size: 1.1vh;
  }

  .h3-year-100 {
    font-size: 3vh;
  }

  .text-block-2 {
    color: grey;
  }

  .div-block-8 {
    height: auto;
  }

  .s1-destin {
    position: relative;
    top: 0vh;
  }

  .navigation-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    margin-top: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .by-year-m {
    position: absolute;
    left: auto;
    top: 18%;
    right: auto;
    bottom: auto;
    width: 50vw;
    height: 20%;
    margin-top: 0vh;
    margin-right: 0vw;
    margin-left: 0vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition-property: none;
    transition-property: none;
  }

  .by-year-m:hover {
    box-shadow: none;
  }

  .by-destination-m {
    position: absolute;
    width: 50vw;
    height: 20%;
    margin-top: 0vh;
    margin-right: 0vw;
    margin-left: 0vw;
    -webkit-transition-property: none;
    transition-property: none;
  }

  .by-destination-m:hover {
    box-shadow: none;
  }

  .by-chance-m {
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    bottom: 18%;
    width: 50vw;
    height: 20%;
    margin-top: 0vh;
    margin-right: 0vw;
    margin-left: 0vw;
    -webkit-transition-property: none;
    transition-property: none;
  }

  .by-chance-m:hover {
    box-shadow: none;
  }

  .swipe {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }

  .text-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 2em;
    padding-bottom: 4vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #e9e9e9;
  }

  .div-block-11 {
    height: auto;
  }

  .location-html-embed-m {
    display: block;
  }

  .image-3 {
    position: relative;
    overflow: scroll;
    width: auto;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-3.is--hidden {
    top: -8vw;
    display: none;
  }

  .title-m {
    display: block;
  }

  .s1-regions {
    position: relative;
    top: 0vh;
  }

  .heading-22 {
    font-size: 2.5vw;
  }

  .div-block-6.is--visible {
    height: auto;
  }

  .link-block-4 {
    margin-top: 7vh;
  }
}

@media screen and (max-width: 767px) {
  .title {
    display: block;
  }

  .heading-2 {
    font-size: 4.5vw;
  }

  .heading-3 {
    font-size: 2vw;
  }

  .by {
    font-size: 1.6vw;
    line-height: 125%;
  }

  .destination {
    font-size: 3vw;
  }

  .credit {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 11px;
  }

  .navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .by-destination {
    margin-top: 0vh;
  }

  .by-chance {
    margin-top: 0vh;
  }

  .year {
    font-size: 3vw;
  }

  .chance {
    font-size: 3vw;
  }

  .year-list-item {
    height: 7.5vh;
  }

  .image-list-list {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }

  .image-list-item {
    width: 18vw;
    height: 13vw;
  }

  .heading-21 {
    font-size: 6vw;
    font-weight: 400;
  }

  .heading-31 {
    font-size: 2.5vw;
  }

  .rich-text-block {
    width: 75%;
    margin-top: 2vh;
    font-size: 2.2vw;
  }

  .div-block-3.plus {
    margin-bottom: 0.5vh;
  }

  .paragraph {
    font-size: 2.2vw;
  }

  .div-block-4.is--visible {
    bottom: 0px;
    height: auto;
    margin-top: 0px;
  }

  .paragraph-2 {
    font-size: 2.2vw;
  }

  .paragraph-3 {
    font-size: 2.2vw;
  }

  .div-block-5 {
    width: 11vw;
    height: 100vh;
  }

  .back-arrow {
    font-size: 2.1em;
  }

  .btn-back {
    font-size: 0.9em;
  }

  .map-dot {
    font-size: 4.5vw;
  }

  .location-html-embed {
    display: block;
  }

  .image-6 {
    width: 100%;
    height: auto;
  }

  .s4-chance {
    margin-top: 4vh;
  }

  .image-8 {
    width: 20px;
    height: auto;
  }

  .navigation-mobile {
    display: none;
  }

  .by-destination-m {
    margin-top: 0vh;
  }

  .by-chance-m {
    margin-top: 0vh;
  }

  .swipe {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    display: none;
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 11px;
  }

  .div-block-11 {
    padding-top: 1.5vh;
    padding-bottom: 2.5vh;
  }

  .location-html-embed-m {
    display: none;
  }

  .image-3 {
    width: 100%;
    height: auto;
  }

  .title-m {
    display: none;
  }

  .heading-22 {
    font-weight: 400;
  }

  .div-block-6 {
    width: 26vw;
    height: 18vw;
  }

  .div-block-6.is--visible {
    bottom: 0px;
    height: auto;
    margin-top: 0px;
  }

  .link-block-4 {
    min-width: 200px;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 479px) {
  .title {
    display: none;
  }

  .heading-2 {
    font-size: 6vw;
  }

  .heading-3 {
    margin-top: 1.5vw;
    font-size: 3.6vw;
  }

  .by {
    font-size: 2.8vw;
  }

  .destination {
    font-size: 7vw;
    line-height: 120%;
  }

  .credit {
    position: fixed;
    top: auto;
    z-index: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 10px;
  }

  .credit.moving {
    position: relative;
  }

  .navigation {
    display: none;
  }

  .year {
    font-size: 7vw;
    line-height: 120%;
  }

  .chance {
    font-size: 7vw;
    line-height: 120%;
  }

  .s2-year {
    position: fixed;
    left: auto;
    top: auto;
    right: auto;
    bottom: 0%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .year-list-item {
    height: 7vh;
  }

  .year-list-list {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .year-list-wrapper {
    position: absolute;
    left: auto;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: block;
    width: 80vw;
    height: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
  }

  .world {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }

  .world.fixed {
    position: fixed;
  }

  .image-list-list {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-list-item {
    width: 24vw;
    height: 24vw;
  }

  .title2 {
    margin-top: 7vh;
  }

  .heading-21 {
    font-size: 7vw;
    font-weight: 400;
  }

  .heading-31 {
    margin-top: 1.5vw;
    font-size: 4vw;
  }

  .rich-text-block {
    margin-top: 1.5vh;
    margin-right: 0%;
    margin-left: 0%;
    font-size: 0.85em;
  }

  .div-block-3 {
    height: 2vh;
    margin-top: 0vh;
    padding-bottom: 0.2vh;
  }

  .div-block-3.plus {
    margin-top: 0.3vh;
    padding-bottom: 0.35vh;
  }

  .paragraph {
    font-size: 0.85em;
  }

  .div-block-4.is--visible {
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph-2 {
    font-size: 0.9em;
  }

  .paragraph-3 {
    font-size: 0.9em;
  }

  .btn-back {
    display: none;
  }

  .s3-destination {
    top: 10vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .map-location.is--hidden {
    display: none;
    margin-top: 21.5vh;
    margin-left: 75.5vh;
  }

  .map-dot {
    padding-right: 5px;
    font-size: 8vw;
  }

  .map-locname {
    left: 1.5vh;
    opacity: 1;
    font-size: 1.2vh;
    line-height: 0.6vh;
  }

  .destination-list-wrapper {
    width: auto;
    height: 100vh;
    margin-top: -10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .destination-list {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
  }

  .destination-item {
    width: 100%;
    height: 100vh;
  }

  .location-html-embed {
    display: none;
    width: 171.43vh;
    height: 100vh;
  }

  .image-6 {
    display: inline-block;
    width: auto;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-6.is--hidden {
    top: 0vw;
    z-index: -1;
    display: none;
    width: auto;
  }

  .s4-chance {
    position: fixed;
    left: auto;
    right: auto;
    width: 100vw;
    height: 0vh;
    margin-top: 16vh;
  }

  .chance-list-list {
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .selected-image-item {
    height: 9vh;
  }

  .h4-destination {
    font-size: 1.25vh;
  }

  .h3-year-100 {
    font-size: 2.2vh;
    font-weight: 400;
  }

  .body-4 {
    overflow: visible;
  }

  .div-block-8 {
    padding-top: 4vh;
    padding-left: 6px;
  }

  .s1-destin {
    position: relative;
    top: 0vh;
    bottom: 0px;
    margin-top: 0vh;
    margin-bottom: 0px;
    padding-top: 0vh;
    padding-left: 6px;
  }

  .navigation-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 90vh;
  }

  .by-year-m {
    top: 20%;
    width: 50vw;
    height: 16vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .by-destination-m {
    height: 16vh;
  }

  .by-chance-m {
    bottom: 20%;
    width: 50vw;
    height: 16vh;
    margin-top: 0vh;
  }

  .swipe {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    opacity: 0;
    font-size: 10px;
  }

  .text-block-3 {
    position: fixed;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    padding-right: 1.25em;
  }

  .div-block-11 {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    padding-left: 6px;
  }

  .location-html-embed-m {
    display: block;
    width: auto;
    height: 100vh;
  }

  .image-3 {
    display: inline-block;
    width: auto;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-3.is--hidden {
    top: 0vw;
    z-index: -1;
    display: none;
    width: auto;
  }

  .title-m {
    display: block;
  }

  .s1-regions {
    position: relative;
    top: 0vh;
    bottom: 0px;
    margin-top: 0vh;
    margin-bottom: 0px;
    padding-top: 0vh;
    padding-left: 6px;
  }

  .heading-22 {
    font-size: 5vw;
    font-weight: 400;
  }

  .div-block-6 {
    width: 40vw;
    height: 27vw;
  }

  .div-block-6.is--visible {
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

